

<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
      <ion-back-button defaultHref="/surah-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ surahName || ('mushaf_viewer' | translate) }}</ion-title>
    <ion-segment class="view-toggle" [value]="viewMode" (ionChange)="onModeChange($event)" slot="end" dir="rtl">
      <ion-segment-button value="image">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>{{ 'images' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="text">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>{{ 'text' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center mushaf-content" id="mushafContent">
  <ng-container *ngIf="viewMode === 'image'; else textView">
    <swiper-container
      [modules]="[Navigation, Pagination, Zoom, Keyboard]"
      [navigation]="true"
      [pagination]="{ clickable: true }"
      [zoom]="true"
      [keyboard]="{ enabled: true }"
      [direction]="'horizontal'"
      dir="rtl"
      class="mushaf-swiper"
      (slideChange)="onSlideChange($event)"
    >
      <swiper-slide *ngFor="let page of pages; let i = index; trackBy: trackByIndex">
        <ion-card class="mushaf-page">
          <ion-card-content>
            <ion-img
              [src]="getImageSrc(page)"
              [alt]="('page' | translate) + ' ' + page"
              class="page-img"
            ></ion-img>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>

    <ion-footer class="page-footer">
      <ion-toolbar color="light">
        <ion-title size="small">{{ 'page_x_of_y' | translate: { x: (currentPage + startPage - 1), y: endPage } }}</ion-title>
      </ion-toolbar>
    </ion-footer>
  </ng-container>

  <ng-template #textView>
    <swiper-container
      [modules]="[Navigation, Pagination, Keyboard]"
      [pagination]="{ clickable: true }"
      [keyboard]="{ enabled: true }"
      dir="rtl"
      class="mushaf-swiper text-swiper"
    >
      <swiper-slide *ngFor="let tp of textPages; let i = index; trackBy: trackByIndex">
        <div class="mushaf-text" dir="rtl">
          <p class="basmala" *ngIf="showBasmala && i === 0">بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ</p>
          <p class="quran-paragraph">
            <span class="ayah" *ngFor="let a of tp.ayat">
              <span class="ayah-text">{{ a.text }}</span>
              <span class="ayah-num" [attr.data-n]="a.index"></span>
            </span>
          </p>
        </div>
      </swiper-slide>
    </swiper-container>
  </ng-template>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [color]="isRecording ? 'danger' : 'primary'" (click)="onRecordToggle()">
      <ion-icon [name]="isRecording ? 'stop' : 'mic'"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="medium" (click)="onPlay()">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="onStop()">
        <ion-icon name="square"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<!-- Global actions footer with modern icons -->
<ion-footer class="actions-footer">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="openModal('settings')">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="openModal('bookmark')">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="openModal('info')">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-footer>

<!-- Reusable modal component -->
<ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
  <ng-template>
    <app-action-modal [title]="modalTitle" [body]="modalBody" (dismiss)="isModalOpen=false"></app-action-modal>
  </ng-template>
</ion-modal>
